body {
background:linear-gradient(to bottom,#000000,
#151515,
#2f2f2f);
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed}
.fir {text-align: center;}
.fir h1 {color:#000000;
margin-top:40px ;
background: linear-gradient(45deg,black,black,black,black,black,black,rgb(189, 160, 0),rgb(189, 160,0),black,black,black,black,black,black,black,black,black,black);
background-size: 480%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
animation: moveColors 4.5s linear infinite;
font-family: Encode Sans SC;
font-size: 40px;}

@keyframes moveColors {
    0% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}}

.sec {text-align: center;
box-sizing: border-box;
 padding: 0 50px;}

.sec fieldset{display:inline-block;
background-color: rgba(255, 255, 255, 0.096);
border: 1px rgb(55, 55, 55) solid;
border-radius: 100px;
padding: 20px 80px;
word-break: break-all;
max-width: 80%;
box-sizing: border-box;
overflow-wrap: break-word;}

.sec legend{color: rgb(189, 160, 0);
text-align: left;
text-shadow: 2px 2px 10px gold;
margin-left: -40px;} 